{{ attach_library('ohana/menu') }}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}

      {% set menu_classes = [
        'menu',
        'menu--' ~ menu_name|clean_class,
        attributes ? attributes.class
      ]|join(' ')|trim %}

      <ul class="{{ menu_classes }}" {{ attributes ? attributes|without('class') }}>
    {% else %}
      <ul class="menu menu__subnav">
    {% endif %}

    {% for item in items %}

      {% set item_classes = [
        'menu__item',
        item.attributes ? item.attributes.class
      ] %}

      {% set link_classes = [
        'menu__link',
      ] %}

      {% if item.below %}
        {% set item_classes = item_classes|merge(['has-subnav']) %}
        {% set link_classes = link_classes|merge(['has-subnav']) %}
      {% endif %}

      {% if item.in_active_trail %}
        {% set item_classes = item_classes|merge(['is-active-trail']) %}
        {% set link_classes = link_classes|merge(['is-active-trail']) %}
      {% endif %}

      {% if item.is_collapsed %}
        {% set item_classes = item_classes|merge(['is-collapsed']) %}
        {% set link_classes = link_classes|merge(['is-collapsed']) %}
      {% endif %}

      {% if item.is_expanded %}
        {% set item_classes = item_classes|merge(['is-expanded']) %}
        {% set link_classes = link_classes|merge(['is-expanded']) %}
      {% endif %}

      {% if item['original_link'].options.attributes.class %}
        {% set original_link_class = item['original_link'].options.attributes.class %}
        {% if original_link_class is not iterable %}
          {% set original_link_class = [original_link_class] %}
        {% endif %}
        {% set link_classes = link_classes|merge(original_link_class) %}
      {% endif %}

      {% set item_classes = item_classes|join(' ')|trim %}
      {% set link_classes = link_classes|join(' ')|trim %}

      <li class="{{ item_classes }}" {{ item.attributes ? item.attributes|without('class') }}>
        <a class="{{ link_classes }}" href="{{ item.url }}">{{ item.title }}</a>

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>

    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
