{{ attach_library('ohana/site-name') }}

{% set classes = [
  'site-name',
  attributes ? attributes.class
]|join(' ')|trim %}

<a href="{{ url }}" class="{{ classes }}" {{ attributes ? attributes|without('class','id') }} title="{{ 'Home'|t }}" rel="home">
  <span class="site-name__text">{{ site_name }}</span>
</a>
