{% set classes = [
  'field',
  modifier ? modifier,
  attributes ? attributes.class
]|join(' ')|trim %}

{% set title_classes = [
  'field__label',
  label_display == 'inline' ? 'is-inline',
  label_display == 'visually_hidden' ? 'visually-hidden',
  title_attributes ? title_attributes.class
]|join(' ')|trim %}

<{{ element ?: 'div' }} class="{{ classes }}" {{ attributes ? attributes|without('class') }}>
  {% if not label_hidden %}
    <{{ label_element ?: 'h3' }} class="{{ title_classes }}" {{ title_attributes ?  title_attributes|without('class') }}>{{ label }}</{{ label_element ?: 'h3' }}>
  {% endif %}

  {% if 'field--list' in classes %}
    <ul class="field__content">
      {%- for item in items -%}
        <li>{{- item.content -}}</li>
      {%- endfor -%}
    </ul>
  {% else %}
    <div class="field__content">
      {%- for item in items -%}
        {{- item.content -}}
        {{- not loop.last ? ', ' -}}
      {%- endfor -%}
    </div>
  {% endif %}
</{{ element ?: 'div' }}>
