{{ attach_library('ohana/site-logo') }}

{% set classes = [
  'site-logo',
  attributes ? attributes.class,
]|join(' ')|trim %}

<a href="{{ url }}" class="{{ classes }}" {{ attributes ? attributes|without('class','id') }} title="{{ 'Home'|t }}" rel="home">
  <img class="site-logo__image" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
</a>
