{{ attach_library('ohana/nav') }}

{% set classes = [
  'l-nav',
  modifier ? modifier : '',
  attributes ? attributes.class,
]|join(' ')|trim %}

{% set heading_id = attributes.id|clean_id %}

{% set title_classes = [
  'l-nav__title',
  'visually-hidden',
  title_attributes ? title_attributes.class
]|join(' ')|trim %}

<nav class="{{ classes }}" role="navigation" aria-labeledby="{{ heading_id }}" {{ attributes ? attributes|without('class','id') }}>
  {{ title_prefix }}
  <h2 class="{{ title_classes }}" {{ title_attributes ? title_attributes|without('class').setAttribute('id', heading_id) }}>{{ label }}</h2>
  {{ title_suffix }}

  {% block content %}
    {{ content|default('<p style="border: var(--border-size-1) dashed var(--gray-3); color: var(--gray-6); padding: 1rem; max-inline-size: 100%; margin: 0;">Menu Content</p>') }}
  {% endblock %}
</nav>
