{{ attach_library('ohana/breadcrumb') }}

{% set breadcrumb_id = 'breadcrumb-label-' ~ random(1, 20) %}

<nav aria-labelledby="{{ breadcrumb_id }}" class="breadcrumb {{ modifier }}" role="navigation">
  <h2 class="breadcrumb__title visually-hidden" id="{{ breadcrumb_id }}">{{ heading|default('You are here') }}</h2>
  <ol class="breadcrumb__list">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item">
        {% if item.url %}
          <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <span aria-current="page">
            {{ item.text }}
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
